:root {
  --blanco: #fffffa;
  --negro: #000;
  --pur: #7d53de;
}
* {
  margin: auto 0;
  font-family: secundaria;
}
@font-face {
  font-family: principal;
  src: url(./public/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: secundaria;
  src: url(./public/fonts/MavenPro-VariableFont_wght.ttf);
}
.header-conteiner {
  justify-content: center;
  display: flex;
  height: 10vh;
}
.header-conteiner nav ul {
  display: flex;
  justify-content: space-between;
}
.header-conteiner h1 {
  font-family: principal;
  color: var(--negro);
  margin-right: 20%;
}
header nav ul li {
  list-style: none;
  padding: 10px;
}
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: var(--negro);
}
header nav ul li a:hover {
  color: var(--pur);
}
section {
  height: 90vh;
}
#home {
  justify-content: center;
  text-align: center;
}
.img-home {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
